.signup-wrapper{
    width: 70%;
    max-width: 450px;
    height: auto;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.title{
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.5rem !important;
}
.p-login{
    text-align: center;
    margin: 0;
    font-weight: 300;
}